{% extends 'layout.html.twig' %}

{% block main %}

    <ul>
    {% for user in users %}
        <li><a href="{{ url("idea_details", {'id':user.getId()}) }}"> {{ user.getPrenom() }} </a></li>
    {% endfor %}


{% endblock %}